pre {
	background: #F4F4F4 !important;
	border: 1px solid #CCC !important;
	font: 80% !important;
	margin-bottom: 1.5em !important;
	padding: 0.3em 0.5em !important;
}

pre.crayon-selected {
	background: #cce4f5 !important;
	border: 1px solid #9dc8e6 !important;
}
